@page "/Vida"
@inherits AnPhuocListBase
<h3>Ví da</h3>
<div class="sp">
    <div class="card-deck">
        @foreach (var anphuoc in AnPhuocs)
        {
            @if (anphuoc.LoaispId == 11)
            {
                <div class="card m-3" style="min-width:18rem; max-width:30%;">

                    <div class="card-header">
                        <a href="@($"anphuocdetails/{anphuoc.AnPhuocId}")"><h5> @anphuoc.Tensp </h5></a>
                    </div>
                    <div class="zoom-img">
                        <a href="@($"anphuocdetails/{anphuoc.AnPhuocId}")"><p><img class="imageThumbnail" src="@anphuoc.Hinhanh " /></p></a>
                    </div>
                    <div style="text-align:center; color: red">Giá: @anphuoc.Gia đ</div>
                </div>
            }
        }
    </div>
</div>
