@inherits LayoutComponentBase
<div class="page">
    <header>
        <div class="container">
            <div class="row">
                <div class="wrapper-right">
                    <a href="https://www.facebook.com/AnPhuoc.PierreCardin.Official"><img class="icon-header" src="image/icon/fb.jpg" /></a> &nbsp;
                    <a href="https://www.instagram.com/anphuoc.pierrecardin/"><img class="icon-header" src="image/icon/instagram.png" /></a> &nbsp;
                    <a href="https://www.youtube.com/channel/UCTc-4zM5fRI4FrSKRjdwphw"><img class="icon-header" src="image/icon/ytb.png" /></a> &nbsp;
                    <a href="https://zalo.me/1865611096449147467"><img class="icon-header" src="image/icon/zalo.png" /></a> &ensp;|
                    <span class="oi oi-phone" style="color:white"> 028.3938.1892</span>
                </div>
                <div class="logo"><img src="logo.png" /></div>
                <div class="wrapper-left">
                    <div class="search-box">
                        <form>
                            <input class="sb-text" type="text" placeholder="...Nhập tìm kiếm..." />
                            <input class="sb-sbm" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <nav class="menu">
            <ul class="clearfix">
                <li><a href="https://localhost:44307/">Trang chủ</a></li>
                <li>
                    <a href="#">AN PHUOC <span class="arrow">&#9660;</span></a>

                    <ul class="sub-menu">
                        <li><a href="@("AoSoMiNam")">Áo sơ mi nam</a></li>
                        <li><a href="@("AoThunNam")">Áo thun nam</a></li>
                        <li><a href="@("QuanNam")">Quần nam</a></li>
                        <li><a href="@("AoKhoacNam")">Áo khoác nam</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">AN PHUOC LADIES <span class="arrow">&#9660;</span></a>

                    <ul class="sub-menu">
                        <li><a href="@("AoSomiNu")">Áo sơ mi nữ</a></li>
                        <li><a href="@("AoThunNam")">Áo thun nữ</a></li>
                        <li><a href="@("QuanNu")">Quần nữ</a></li>
                        <li><a href="@("AoKhoacNu")">Áo khoác nữ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">PHỤ KIỆN <span class="arrow">&#9660;</span></a>

                    <ul class="sub-menu">
                        <li><a href="@("Giaydep")">Giày dép</a></li>
                        <li><a href="@("Vida")">Ví da</a></li>
                        <li><a href="@("Thatlung")">Thắc lưng</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <marquee><h4>Chào mừng bạn đến với Shop An Phước......!</h4></marquee>
    <div class="main">
        @Body
    </div>
    <br />
    <br />
    <footer class="footer">
        <div class="main-footer">
            <div class="footer-right">
                <h2 style="color:red">AN PHUOC</h2>
                <br />
                <ul class="box">
                    <li>100/11-12 An Dương Vương, P.9, Q.5, TP. Hồ Chí Minh, Việt Nam</li>
                </ul>
                <br />
                <ul>
                    <li>GPKD Số: 0301241545</li>
                    <li>Ngày cấp: 26/04/1993GPKD Số: 0301241545</li>
                    <li>Tư vấn mua hàng: +84.28 3938 1892</li>
                    <li>Văn phòng: +84.28.3835.0059</li>
                    <li>CSKH: +84.28.3830.7337</li>
                    <li>Fax: +84.28.3835.0058</li>
                    <li>Email: cskh@anphuoc.com.vn</li>
                </ul>
            </div>
            <div class="footer-center">
                <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                <br />
                <ul>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Hướng dẫn chọn kích cỡ</a></li>
                    <li><a href="#">Thời gian giao hàng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách đổi hàng</a></li>
                </ul>
            </div>
            <div class="footer-left">
                <h2>LIÊN KẾT VỚi CHÚNG TÔI</h2>
                <br />
                <div class="socials">
                    <a href="https://www.facebook.com/AnPhuoc.PierreCardin.Official"><img src="image/icon/fb.jpg" /></a>
                    <a href="https://www.youtube.com/channel/UCTc-4zM5fRI4FrSKRjdwphw"><img src="image/icon/ytb.png" /></a>
                    <a href="https://zalo.me/1865611096449147467"><img src="image/icon/zalo.png" /></a>
                    <a href="https://www.instagram.com/anphuoc.pierrecardin/"><img src="image/icon/instagram.png" /></a>
                </div>
                <br />
                <br />
                <a href="http://www.online.gov.vn/Home/WebDetails/983?AspxAutoDetectCookieSupport=1"><img src="image/icon/bct.png" style="width:auto; height:50px" /></a>
            </div>
        </div>
        <div class="footer-bottom" style="display:block; text-align:center; border:solid white">
            <p>Copyright © 2020 - 2021 An Phước.</p>
        </div>
    </footer>
</div>